{% extends 'bedesk/base_auth.html' %}

{% block title %}E-mail Enviado{% endblock %}

{% block content %}
<div classs="row justify-content-center">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3 class="card-title mb-3">📧 E-mail enviado!</h3>
                <p>Verifique sua caixa de entrada e siga o link para redefinir sua senha.</p>
                <a href="{% url 'inicio' %}" class="btn btn-primary mt-3">Voltar para o Início</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}