{% extends 'bedesk/base_auth.html' %}
{% load widget_tweaks %}

{% block title %}Nova Senha{% endblock %}

{% block content %}
<div classs="row justify-content-center">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Definir Nova Senha</h2>

                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ field.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success mt-3">Alterar Senha</button>
                    </div>
                </form>
                {% else %}
                    <div class="alert alert-danger mt-3">O link de redefinição de senha é inválido ou expirou.</div>
                    <a href="{% url 'password_reset' %}" class="btn btn-primary mt-3">Tentar novamente</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}